.desktop-header {
	background: #fff;
	border-bottom: 1px solid $black;
	display: flex;
	font-size: 1.1rem;
	justify-content: space-between;
	padding: 0 .5rem;
	.monochrome & {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC);
	}
	a {
		color: $black;
		text-decoration: none;
	}
}

.desktop-title {
	font-weight: bold;
	margin-right: 2rem;
	padding: .5rem;
	display: inline-block;
}

.desktop-menu {
	display: flex;
}

.desktop-nav {
	display: flex;
}

.desktop-nav-item {
    position: relative;
    cursor: pointer;
	padding: .5rem;
	line-height: 1.2;
	ellipse, circle {
		stroke: $black;
	}
	&:hover, &:focus, &.menu-isOpen {
		color: #fff;
	    background-color: #000;
		ellipse, circle {
			fill: white;
			stroke: white;
		}
	}
}

.desktop-subnav {
	display: none;
	position: absolute;
	background: #fff;
	color: $black;
	border: 1px solid $black;
	top: 2.25rem;
	left: 0;
	.menu-isOpen & {
		display: block;
	}
}

.desktop-subnav-item {
	display: block;
	padding: .3rem .5rem;
	min-width: 10rem;
	&:hover,
	&:focus {
		color: #fff;
		background-color: #000;
	}
}

.desktop-social {
	display: flex;
	align-items: top;
	a {
		path {
			fill: $black;
		}
		padding: .5rem;
		&:hover, &:focus {
			background: $black;
			path {
				fill: white;
			}
		}
	}

}

.desktop-clock {
	padding-top: .6rem;
	margin-left: .3rem;
	padding-right: .5rem;
}

.desktop-icons {
	position: absolute;
	right: 2rem;
	top: 5rem;
}

.desktop-icon {
	cursor: pointer;
	max-width: 6rem;
	text-align: center;
	margin-bottom: 1rem;
}

.desktop-icon-title {
	text-align: center;
	font-weight: bold;
}