.people-list {
    margin-bottom: 1rem;
}

.people-list--item{
    padding: .25rem 0;
    display: flex;
}

.people-list--person {
    cursor: pointer;
    &:hover, &:focus {
        color: white;
        background: $black;
    }
}

.people-list--header {
    font-weight: bold;
}

.people-list--name {
    flex-basis: 70%;
}
.people-list--index {
    flex-basis: 10%;
}